.pokemon-info-page {
  display: flex;
  justify-content: center;
  text-transform: capitalize;

  .container {
    .pokemon-name {
      margin: 1.5rem 0;
    }

    .image-container {
      display: flex;
      justify-content: center;
    }

    ul {
      list-style: none;
      margin: 0.9rem 0;
      padding: 0;
    }

    .pokemon-types {
      display: flex;
      flex-direction: row;
    }

    .pokemon-abilities {
      li {
        border: 1px solid black;
        border-radius: 10px;
        margin: 0.5rem 0.5rem 0.5rem 0;
        padding: 0.5rem;
      }
    }
  }
}
