@use "../../styles/color-variables.scss" as *;

.pokemon-card {
  display: grid;
  grid-template-columns: 1fr 5fr;

  background: $pokemon-blue;
  border-radius: 10px;
  margin: 0.5rem 0;
  padding: 1rem;

  color: #ffffff;

  .image-section,
  .stats-section {
    display: flex;
    justify-content: center;
  }

  .stats-section {
    flex-direction: column;
    justify-content: space-around;

    .pokemon-name {
      text-transform: capitalize;
    }
  }
}
