@use "../styles/color-variables.scss" as *;

* {
  margin: 0;
}

body {
  .header {
    background-color: $pokemon-red;
    text-align: center;

    h1 {
      -webkit-text-stroke: 0.15rem $pokemon-blue;
      color: $pokemon-yellow;
      font-size: 3rem;
    }
  }
}
